In [23]:
import pandas as pd
# data = pd.read_csv('sales.csv',sep=';', index_col=0, usecols=[0,1,4], nrows=3)
# data = pd.read_csv('sales.csv',sep=';', index_col=0, header=None, names=['Q1','Q2','Q3','Q4'])
# data = pd.read_csv('sales.csv',sep=';', index_col=0)
# skiprows: no read some rows. 
# skipfooter: no read some rows but begining from the last row.
data = pd.read_csv('sales_garbage.csv',sep=';', index_col=0,
                  skiprows=1, skipfooter=1, engine='python')

df_sales =pd.DataFrame(data)
df_sales

              quarter_1  quarter_2  quarter_3  quarter_4
branch nort        1001       1002       1003       1004
branch east        2001       2002       2003       2004
branch west        3001       3002       3003       3004
branch south       4001       4002       4003       4004

In [29]:
data = pd.read_excel('sales.xlsx', index_col=0, skiprows=1, sheet_name='2020')

df_sales =pd.DataFrame(data)
df_sales

              quarter_1  quarter_2  quarter_3  quarter_4
branch nort        1001       1002       1003       1004
branch east        2001       2002       2003       2004
branch west        3001       3002       3003       3004
branch south       4001       4002       4003       4004

In [ ]:
data2 = pd.read_excel('sales.xlsx', index_col=0, skiprows=1, sheet_name='2021')

df_sales2 =pd.DataFrame(data2)
df_sales