In [1]:
import pandas as pd
data_types = ["Str", "Int", "Float"]


# Searching for “int”
print(data_types.index("Int"))

1

In [5]:
import pandas as pd

names_countries = ['China', 'India','United States', ' ','Pakistan', 'Brazil', 'Nigeria', 'Bangladesh', 'Rusia','Mexico']
header = ['poblation', 'percentaje']
data = [[1439,18.47],
        [1380,17.70],
        [331,4.25],
        [273,3.51],
        [220,2.83],
        [212,2.73],
        [206,2.64],
        [164,2.11],
        [145,1.87],
        [128,1.65]
]
countries = pd.DataFrame(data, columns=header)
countries['country'] = names_countries
countries

   poblation  percentaje        country
0       1439       18.47          China
1       1380       17.70          India
2        331        4.25  United States
3        273        3.51      Indonesia
4        220        2.83       Pakistan
5        212        2.73         Brazil
6        206        2.64        Nigeria
7        164        2.11     Bangladesh
8        145        1.87          Rusia
9        128        1.65         Mexico

In [18]:
for i in countries['country']:
    if i == 'Nigeria':
        print("i",index(i))

NameError: name 'index' is not defined

In [11]:
for i, j in enumerate(['foo', 'bar', 'baz']):
    if j == 'bar':
        print(i)

1